.container {
    font-size: 11px;
    padding: 8px 12px 8px 8px;
    min-width: 134px;
}
.button {
    font: inherit;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    &:last-child {
        margin-bottom: 0;
    }
}
.button-open {
    font-size: 11px;
}
.icon {
    margin-left: 3px;
}
