// ==================================== colors ====================================
// ==================================== C1 ====================================
$C1A: #151515;
$C1B: #575757;
$C1C: #a9a9a9;
$C1D: #d1d1d1;
$C1E: #ebebeb;
$C1F: #f5f5f5;
$C1H: #f9f9f9;
$C1J: #fff;
// ==================================== C2 ====================================
$C2A: #6a983c;
$C2B: #46760a;
$C2C: #92c064;
$C2D: #c8deb3;
$C2E: #f4f8ec;
// ==================================== C3 ====================================
$C3A: #d0a866;
$C3B: #b28a48;
$C3C: #ecd2a6;
$C3D: #faedd8;
$C3E: #fff9f0;
// ==================================== C4 ====================================
$C4A: #e5704b;
$C4B: #c7522d;
$C4C: #eb8d70;
$C4D: #f7c6b7;
$C4E: #fff1ed;
// ==================================== C5 ====================================
$C5A: #37d0d6;
$C5B: #19b2b8;
$C5C: #7cd0d3;
$C5D: #b9e6e8;
$C5E: #ecf6f6;
// ==================================== C6 ====================================
$C6A: #ed4337;
$C6B: #4bb543;
// ==================================== C7 ====================================
$C7A: #53514c;
$C7B: #d3d4d4;
$C7C: #d1d1d2;
$C7D: #ececec;
$C7E: #d9d9d9;
$C7F: #f1f1f1;
$C7G: rgba(#a6a6a6, 0.5);
$C7H: #959595;
$C7I: #fd3464;
$C7J: #2e2e32;
$C7K: #fff1f4;
// ==================================== C8 Cards ====================================
$C8A: #73c6ea;
$C8B: #b8fdac;
$C8C: #d3d4d4;
$C8D: #9adffc;
$C8E: #8bf979;
$C8F: #c5c6c7;
// ==================================== trasntion ====================================
$inputTranstion: all 0.2s ease;
$linkTranstion: all 0.3s ease;
$buttonTranstion: all 0.4s ease;
$dropDownTranstion: all 0.5s ease;
// ==================================== container ====================================
$containerWidth: 1190px;
$padding: 10px;
$borderRadius: 12px;
$sectionPaddings: 64px;
$sectionMediumPadding: 30px;
$sectionSmallPadding: 15px;
$cardMaxWidthV1: 268px;
$breakpointMedium: 982px;
$breakpointSmall: 500px;
