@import "styles/_vars.scss";
@import "styles/_mixins.scss";
.button-container {
    position: relative;
}
.show-button {
    position: absolute;
    right: 30px;
    bottom: 0;
    top: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    &--idle {
        right: 4px;
    }
}
.input__paddings {
    padding-right: 63px;
}

.input {
    @include inputBorderColors;
}
