@import "styles/_vars.scss";
.title {
    margin-bottom: 20px;
}
.error {
    text-align: center;
    p {
        font-size: 20px;
    }
}
.button-container {
    margin: 15px 0;
    text-align: center;
}
.button {
    background-color: $C6A;
    &:hover {
        background-color: darken($C6A, 10);
    }
}
