.item {
    margin-bottom: 10px;
}
.title {
    margin-bottom: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.wrapper {
    width: 100%;
    max-width: 400px;
}
.button {
    width: 100%;
}
