.container {
    display: flex;
    justify-content: space-between;
    &__right {
        display: flex;
    }
}
.users {
    display: flex;
    position: relative;
}
.user {
    border-radius: 50%;
    border: 0.5px solid #fff;
    width: 25px;
    height: 25px;
    box-sizing: content-box;
}
